.flex{
    display:flex;
}
.flex-direction-column{
    flex-direction:column;
}
img.img-rounded.custom-thumbnail {
    max-height: 70vh;
}
body{
    background-image: linear-gradient(to right, #222222 , #171515d1 , #222222, #222222 , #171515d1 , #222222);
    color:#ece4e4;
}
